.container {
    width: 375px;
    height: 667px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px; 
    
}

body {
    padding: 0;
    margin: 0;
}
header {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    background-image: url(../img/header.jpg);   
}

logo {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background-image: url(../img/logga.png);
}

menu {
    background-color: rgb(150, 202, 230);
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
}


a {
    margin: 0;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

a:visited{
    color: rgb(243, 238, 238);
}

.hem {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.priser {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.boka {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.konto {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

footer {
    grid-column: 1 / 5;
    grid-row: 15 / 17;
    background-color: rgb(150, 202, 230);
}

h7 {
    text-align: center;
    color: white;
    font-weight: bold;
    display: grid;
    margin-bottom: 4px;
    margin-top: 3px;
}

h {
    margin: 0;
    color: white;
    font-weight: bold;
    text-align: center;
}

footer p {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 13px;
    margin: 0;
    font-weight: bold;
}

article {
    grid-column: 1 / 5;
    grid-row: 5 / 15;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: rgb(150, 202, 230);
}

.stad {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
}

.pass {
    grid-column: 2 / 5;
    grid-row: 6 / 8;
}

.dag {
    grid-column: 2 / 5;
    grid-row: 10 / 12;
}

.instruktör {
    grid-column: 2 / 5;
    grid-row: 14 / 16;
}

button {
    grid-column: 2 / 5;
    grid-row: 18 / 20;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    background-color: white;
}